.card {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr repeat(3, auto);
  justify-content: flex-start;
  background-color: #fff6f6;
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 2px 4px 8px;
  transition: box-shadow 0.5s;
}
